@page "/drag"
@page "/drag/{projectID:int}"
@inject IToastService ToastService
@inject IHttpClientFactory clientFactory
@inject ILoadingIndicatorService ApplicationLoadingIndicatorService
@if (!(Items == null || Items.Count == 0 || ColumnModels == null || ColumnModels.Count == 0))
{
    <Div Flex="Flex.AlignItems.Center.JustifyContent.Between">
        <Div>
            <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromBottom.Is3.FromStart">Project: @ProjectName</Heading>
        </Div>
        <Div>
            <Button Color="Color.Success" Margin="Margin.Is3.FromBottom.Is3.FromEnd" Clicked="ShowExtendedAddTask">Add new task</Button>
        </Div>
    </Div>
    <DropContainer TItem="DropItem" Items="@Items" ItemDropped="@ItemDropped" Flex="Flex.Wrap.Grow.Is1.AlignItems.Center" ItemsFilter="@((item, dropZone) => item.Group == dropZone)" @ref="DropContainer">
        <ChildContent>
            @foreach(var c in ColumnModels)
            {
                <Div Style="flex-grow:1" Flex="Flex.Column.AlignItems.Center">
                    <Div Width="Width.Is100">
                        <DropZone TItem="DropItem" Name="@c.Name" Padding="Padding.Is3" Margin="Margin.Is3" Flex="Flex.Grow.Is1" Shadow="Shadow.Large">
                            <Heading Size="HeadingSize.Is4" Margin="Margin.Is3.FromBottom">@c.Name</Heading>
                        </DropZone>
                    </Div>
                    <Div Display="Display.Flex">
                        <Button Color="Color.Success" Clicked="()=>ShowAddTask(c.ID, c.Name)">Add new task</Button>
                    </Div>
                </Div>
            }
            <Div>
                <Tooltip Text="Add Column">
                    <Button Color="Color.Primary" Clicked="ShowAddColumnModal">Add Column</Button>
                </Tooltip>
            </Div>
        </ChildContent>
        <ItemTemplate>
            <Div Flex="Flex.AlignItems.Center.JustifyContent.Between" Shadow="Shadow.Large" Padding="Padding.Is3">
                <Div Padding="Padding.Is2" Margin="Margin.Is2.FromEnd">
                    <Text>@context.Name</Text>
                </Div>
                <Div>
                    <Button Color="Color.Primary" Clicked="()=>ShowInfoModal(context)"><Icon Name="IconName.InfoCircle" /></Button>
                    <Button Color="Color.Secondary" Clicked="()=>ShowEditModal(context)"><Icon Name="IconName.Edit" /></Button>
                    <Button Color="Color.Danger" Clicked="()=>ShowDeleteModal(context)"><Icon Name="IconName.Delete" /></Button>
                </Div>
                
            </Div>
        </ItemTemplate>
    </DropContainer>
    
}

@code {
    private DropContainer<DropItem> DropContainer = new();
    private List<DropItem> Items;
    private HashSet<ColumnModel> ColumnModels;
    private string ProjectName;

    [Parameter]
    public int? ProjectID { get; set; }

    private int foo;

    [Inject] public IModalService ModalService { get; set; }

    private Task ItemDropped(DraggableDroppedEventArgs<DropItem> dropItem)
    {
        dropItem.Item.Group = dropItem.DropZoneName;
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {

        await ApplicationLoadingIndicatorService.Show();

        var httpClient = clientFactory.CreateClient("API");

        var response = await httpClient.GetFromJsonAsync<ProjectDTO>("/api/project/default");

        ColumnModels = [];

        Items = [];
        response.Template.Columns.ForEach(c => c.Items.ForEach(i =>
        {
            Items.Add(new DropItem(c, i));
            ColumnModels.Add(new ColumnModel{ID = c.ID, Name = c.Name});
        }));

        ProjectName = response.Name;
        foo = response.ID;

        Items.ForEach(i => Console.WriteLine($"ID: {i.ID}, Name: {i.Name}, Group: {i.Group}"));

        await ApplicationLoadingIndicatorService.Hide();

    }

    public Task ShowInfoModal(DropItem item)
    {
        return ModalService.Show<ItemDetailsComponent>(x => x.Add(x => x.Item, item), new ModalInstanceOptions(){UseModalStructure=false});
    }

    public Task ShowEditModal(DropItem item)
    {
        return ModalService.Show<EditTaskComponent>(x => {
            x.Add(x => x.Item, item);
            x.Add(x => x.OnConfirm, ChangedTask);
        }, new ModalInstanceOptions() { UseModalStructure = false });
    }

    public Task ShowDeleteModal(DropItem item)
    {
        return ModalService.Show<DeleteTaskComponent>(
            x => { 
                x.Add(x => x.Item, item);
                x.Add(x => x.OnConfirm, DeletedTask);
            },
            new ModalInstanceOptions() { UseModalStructure = false });
    }

    // TODO: add parameter of function to make changes in UI when api response
    public Task ShowAddColumnModal()
    {
        return ModalService.Show<AddColumnComponent>("Add new column");
    }

    public Task ShowExtendedAddTask()
    {
        return ModalService.Show<AddNewTaskExtendedComponent>("Add new task", x =>
        {
            x.Add(x => x.Columns, ColumnModels);
            x.Add(x => x.ProjectID, foo);
            x.Add(x => x.OnConfirm, AddedTask);
        });
    }

    public Task ShowAddTask(int column, string columnName)
    {
        return ModalService.Show<AddNewTaskComponent>("Add new task", x => 
        { 
            x.Add(x => x.OnConfirm, AddedTask); 
            x.Add(x => x.ColumnID, column); 
            x.Add(x => x.ProjectID, foo);
            x.Add(x => x.ColumnName, columnName);
        });
    }

    private async Task AddedTask(AddItemResponse? response, DropItem? added)
    {
        if(response == null || added == null)
        {
            await ToastService.Error("Error with processing request.");
            return;
        }
        if(response.IsSuccess)
        {
            Items.Add(added);
            await ToastService.Success(response.Message);
            DropContainer.Refresh();
            StateHasChanged();
        }
        else
        {
            await ToastService.Error(response.Message);
        }
    }

    private async Task ChangedTask(DefaultResponse? response, DropItem? changed)
    {
        if(response == null || changed == null)
        {
            await ToastService.Error("Error with processing request.");
            return;
        }

        if(response.IsSuccess)
        {
            var item = Items.Where(i => i.ID == changed.ID).First();
            item.Name = changed.Name;
            item.Description = changed.Description;
            await ToastService.Success(response.Message); 
            DropContainer.Refresh();
            StateHasChanged();
        }
        else
        {
            await ToastService.Error(response.Message);
        }

    }

    private async Task DeletedTask(DefaultResponse? response, int? itemID)
    {
        if (response == null || itemID == null)
        {
            await ToastService.Error("Error with processing request.");
            return;
        }

        if (response.IsSuccess)
        {
            Items.RemoveAll(i => i.ID == itemID);
            await ToastService.Success(response.Message);
            DropContainer.Refresh();
            StateHasChanged();
        }
        else
        {
            await ToastService.Error(response.Message);
        }
        
    }
}